/*body {
  background-color: #446CB3;
}
.page-header{
  background: white;
  color: ;
}

.emphasis {
  color: #2ecc71;

h2 {
  color: #e74c3c;
}

.footer-text {
  color: black;
}*/
.data a, .data span, .data tr, .data td, .data h1 { 
  white-space: pre; 
}